[Unit]
Description=Zabbix agent service
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
User=zabbix
ExecStart=/usr/bin/sudo --group=docker /usr/bin/docker compose -f /opt/zabbix-agent/docker-compose.yml up
ExecStop=/usr/bin/sudo --group=docker /usr/bin/docker compose -f /opt/zabbix-agent/docker-compose.yml down

[Install]
WantedBy=multi-user.target